body {
    background-color: #00477D;
    background-image: url('../picture/背景圖NEW.png');
    background-size: 1510px 766px;
    background-attachment: fixed;
}

.top {
    text-align: center;
}

/* 中原大學信實宿舍*/
.title {
    width: 550px;
    height: 110px;
    position: relative;
    top: 17px;
    right: 5px;
    z-index: 10;

}

/*會動的圖*/
.picture {
    width: 550px;
    height: 525px;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 30px;
    border:white 20px double ;
}

.move {
    width: 15%;
    font-size: 0;
    position: relative;
    left: 0;
    animation: banner 16s infinite;
}

@keyframes banner {

    0%,
    16% {
        left: 0;
    }

    16%,
    32% {
        left: -700px;
    }

    32%,
    48% {
        left: -1400px;
    }

    48%,
    64% {
        left: -2110px;
    }

    64%,
    80% {
        left: -2840px;
    }

    80%,
    96% {
        left: -2950px;
    }

}

/*信實影片介紹*/
.video {
    width: 300px;
    height: 250px;
    position: relative;
    left: 130px;
    top: -640px;
}

/*周遭環境*/
.environment {
    width: 240px;
    height: 190px;
    position: relative;
    left: 910px;
    top: -740px;
}

/*路線*/
.road {
    width: 290px;
    height: 340px;
    position: relative;
    left: 680px;
    top: -300px;
}

/*組員介紹*/
.member {
    width: 230px;
    height: 200px;
    position: relative;
    left: 230px;
    top: -520px;
}

/*聯繫我們*/
.connect {
    width: 260px;
    height: 210px;
    position: relative;
    left: -1050px;
    top: -360px;
}


.decorate1 {
    width: 260px;
    height: 260px;
    position: relative;
    left: 20px;
    top: -7px;
    z-index: -1;
}


.decorate2 {
    width: 230px;
    height: 23s0px;
    position: relative;
    left: 150px;
    top: 350px;
    z-index: -4;
}




.decorate4 {
    width: 190px;
    height: 230px;
    position: relative;
    left: 950px;
    top: 370px;
    z-index: -4;
    transform: rotate(340deg)
}


.decorate3{
    width: 280px;
    height: 100px;
    position: relative;
    left: 850px;
    top: 85px;
    z-index: -4;
    transform: rotate(120deg)
}