body{
    margin: 0; padding: 0; height: 100%; border:none; 
    min-width: 1250px;
    background-color: #00477D;
    background-image: url('../Images/背景圖NEW.png');
    background-size: 1510px 766px;
    background-attachment: fixed;
    font-family: "微軟正黑體";
}

/*----------上方菜單----------*/

div.meau{
    background-color: beige ;
    width: 100%;
    height: 120px;
}

img.logo_area{
    width: 100px;
    height: 80px;
    margin: 20px 0px 0px 60px;
    float: left;
}

img.logo2_area{
    width: 250px;
    height: 70px;
    margin: 20px;
    float: left;
}

div.meau_area{
    position: absolute;
    right: 150px;
    top: 40px;
    padding: 0px;
    float: right;
}

ul.meau_list{
    list-style-type: none;
    margin: 0px;
    float: right;
}

li.meau_choice{
    display: inline;
    padding: 0px 15px;
    font-size: 30px;
    color: black;
    float: left;
}

/*-----影片-----*/
.ti{
    font-family: "微軟正黑體";
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: white;
}

div.part_video{
    margin:0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.video{
    flex: none;
    margin: 10px 10px 10px 10px;
    width: 495px;
    background-color: black;
}

div.space{
    width: 10px;   
}

div.video{
    flex: none;
    margin: 10px 10px 10px 10px;
    width: 495px;
    background-color: black;
}

div.space{
    width: 10px;   
}
