body{
    margin: 0; padding: 0; height: 100%; border:none;
    background: #00477D;
    font-family: "蠟筆體";
}

/*----------字體----------*/
@font-face {
    font-family: '蠟筆體';
    src: url('../fonts/蠟筆體.woff') format("woff"),
        url('../fonts/fu/蠟筆體.ttf') format("truetype"),
        url('../fonts/蠟筆體.eot') format("embedded-opentype");
}

/*----------上方菜單----------*/

div.meau{
    background-color: beige;
    width: 100%;
    height: 120px;
    float: left;
}

img.logo_area{
    width: 100px;
    height: 80px;
    margin: 20px 0px 0px 60px;
    float: left;
}

img.logo2_area{
    width: 250px;
    height: 70px;
    margin: 20px;
    float: left;
}

div.meau_area{
    position: absolute;
    right: 150px;
    top: 40px;
    padding: 0px;
    float: left;
}

ul.meau_list{
    list-style-type: none;
    margin: 0px;
    float: right;
}

li.meau_choice{
    display: inline;
    padding: 0px 15px;
    font-size: 30px;
    color: black;
    float: left;
}

/*----------周遭環境----------*/

img.know_picture{
    float: left;
    margin: 80px 50px 50px 50px;
    padding: 40px 20px 20px 20px;
    width: 40%;
}

img.know_picture:hover{
    transform: scale(1.1);
}

div.know_content > h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: 	white;
    text-align: center;
}

div.know_content{
    float: left;
    margin: 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 45%;
    font-family: "蠟筆體";
    font-size: 20px;
    text-align: justify;
    color: #F3F3FA;
}

/*----------早餐----------*/

div.breakfast{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightskyblue;
    float: left;
 
    /*----------版塊置中----------*/
    display: flex;
    justify-content: center; 
    align-items: center; 
}

div.toast{
    margin: 10px 10px 30px 30px;
    padding: 10px 10px 30px 30px;
    float: left;
}

div.toast > h1{
    margin-bottom: 30px;
    font-size: 50px;
    color: 	white;
    text-align: center;
}

div.toast > blockquote{
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}

img.toast{
    width: 400px;
}

img.toast:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}


div.tree{
    float: left;
    margin: 10px 10px 30px 30px;
    padding: 10px 10px 30px 30px;
}

div.tree > h1{
    margin-bottom: 30px;
    font-size: 50px;
    color: 	white;
    text-align: center;
}

img.tree{
    width:320px;
}

img.tree:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

div.tree > blockquote{
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}

div.bear{
    margin: 10px 10px 30px 30px;
    padding: 10px 10px 30px 30px;
    float: left;
}

div.bear > h1{
    margin-bottom: 30px;
    font-size: 50px;
    color: 	white;
    text-align: center;
}

div.bear > blockquote{
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: center;
}

img.bear{
    width: 400px;
}

img.bear:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
}

/*----------公車站----------*/

div.bus{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;

    display: flex;
    justify-content: center; 
    align-items: center; 
}

div.bus_content > h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: 	white;
    text-align: center;
}

div.bus_content{
    float: left;
    margin: 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 45%;
    font-family: "蠟筆體";
    font-size: 20px;
    text-align: center;
    color: #F3F3FA;
}

img.bus_picture{
    float: left;
    margin: 50px 30px 30px 30px;
    padding: 40px 20px 20px 20px;
    height: 550px;
}

img.bus_picture:hover{
    transform: scale(1.1);
}

div.bus_content > .bus_time{
    width:200px;
    height:60px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "蠟筆體";
    background-color:pink;
}
